.Meaning {
  line-height: 1.5;
  margin: 0;
}
.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.Meaning .definition {
  font-size: 17px;
}
.Meaning .example {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.6;
  font-style: italic;
}
@media (max-width: 567px) {
  .Meaning .definition {
    font-size: 14px;
  }
  .Meaning .example {
    font-size: 12px;
  }
}
