.Meaning {
  line-height: 1;
  margin: 0;
}
.Meaning h3 {
  font-size: 24px;
  line-height: 1.5;
  font-weight: bold;
}
.Meaning .example {
  margin-top: 10px;
  font-size: 14px;
  opacity: 0.9;
  font-style: italic;
}
