.Phonetics {
  margin: 20px 0;
}
.Phonetics a {
  text-decoration: none;
  border: 1px solid var(--light-color);
  transition: all 150ms ease-in-out;
  padding: 5px;
  margin-right: 5px;

  border-radius: 150%;
}
.Phonetics a:hover {
  background-color: var(--light-color);
}
.Phonetics .text {
  opacity: 0.7;
  font-weight: bold;
}
