.Synonyms {
  margin: 20px 0 15px;
  padding: 0;
}
.Synonyms li {
  display: inline-block;
  font-size: 15px;
  list-style: none;
  padding-right: 13px;
  line-height: 1;
}
@media (max-width: 567px) {
  .Synonyms li {
    font-size: 12px;
  }
}
